<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Digest" type="Digest.DigestSectionHandler, Digest.WcfService" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="MAX_INPUTTEXT_LENGTH"                value="10000" />
    <add key="SAME_IP_INTERVAL_REQUEST_IN_SECONDS" value="10"/>
    <add key="SAME_IP_MAX_REQUEST_IN_INTERVAL"     value="3"/>
    <add key="SAME_IP_BANNED_INTERVAL_IN_SECONDS"  value="120"/>

    <add key="MAX_ENTITY_LENGTH"          value="256"/>
    <add key="USE_GEONAMES_DICTIONARY"    value="true"/>
    <add key="USE_COREFERENCE_RESOLUTION" value="true"/>    
  </appSettings>

  <Digest>
    <Linguistics>
      <Url>tcp://localhost:45312/LingvisticsService</Url>
    </Linguistics>

    <TonalityMarking>
      <Themes>
        <Theme Type="Default">
          <Languages>
            <Language Type="RU">
              <Dictionaries BasePath="bin\OMTM-Dictionaries\TM">
                <Nouns>
                  <!--существительные-->
                  <Dictionary DictionaryType="nANeg" FileName="list_nouns_aneg.txt" />
                  <Dictionary DictionaryType="nAPos" FileName="list_nouns_apos.txt" />
                  <Dictionary DictionaryType="nNeg"  FileName="list_nouns_neg.txt"  />
                  <Dictionary DictionaryType="nPos"  FileName="list_nouns_pos.txt"  />
                  <Dictionary DictionaryType="nPNeg" FileName="list_nouns_pneg.txt" />
                  <Dictionary DictionaryType="nPPos" FileName="list_nouns_ppos.txt" />
                </Nouns>
                <Verbs>
                  <!--глаголы-->
                  <Dictionary DictionaryType="vFlxNeg" FileName="list_verbs_flxneg.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vFlxPos" FileName="list_verbs_flxpos.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vLink"   FileName="list_verbs_link.txt"     CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vNeg"    FileName="list_verbs_neg.txt"      CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vPos"    FileName="list_verbs_pos.txt"      CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vNegP"   FileName="list_verbs_pure_neg.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vPosP"   FileName="list_verbs_pure_pos.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vOppPos" FileName="list_verbs_opp_pos.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vOppNeg" FileName="list_verbs_opp_neg.txt"  CheckOnExistsWeightValue="true" />
                </Verbs>
                <Adjectives>
                  <!--прилагательные-->
                  <Dictionary DictionaryType="adjNeg"   FileName="list_adjectives_neg.txt"   />
                  <Dictionary DictionaryType="adjPos"   FileName="list_adjectives_pos.txt"   />
                  <Dictionary DictionaryType="adjAmplf" FileName="list_adjectives_amplf.txt" CheckOnExistsWeightValue="true" />
                </Adjectives>
                <Adverbs>
                  <!--наречия-->
                  <Dictionary DictionaryType="advNeg"   FileName="list_adverbs_neg.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="advPos"   FileName="list_adverbs_pos.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="advAmplf" FileName="list_adverbs_amplf.txt" CheckOnExistsWeightValue="true" />
                </Adverbs>
                <Collocations>
                  <!--коллокации-->
                  <Dictionary DictionaryType="collNeg"   FileName="list_collocation_neg.txt"   />
                  <Dictionary DictionaryType="collPos"   FileName="list_collocation_pos.txt"   />
                  <Dictionary DictionaryType="collNeut"  FileName="list_collocation_neut.txt"  />
                  <Dictionary DictionaryType="collAmplf" FileName="list_collocation_amplf.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvNeg"  FileName="list_collocation_vneg.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvPos"  FileName="list_collocation_vpos.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvNeut" FileName="list_collocation_vneut.txt" CheckOnExistsWeightValue="true" />
                </Collocations>
                <NER>
                  <Dictionary DictionaryType="nNeg" FileName="list_ner_neg.txt" />
                  <Dictionary DictionaryType="nPos" FileName="list_ner_pos.txt" />
                </NER>                
              </Dictionaries>

              <Rules BasePath="bin\OMTM-Dictionaries\TM">
                <MainFile>rules.xml</MainFile>
                <OrderFile>order_rules.xml</OrderFile>
                <OrderParticipialFile>order_rules_participial.xml</OrderParticipialFile>
                <OrderHomogenousFile>order_rules_homogenous.xml</OrderHomogenousFile>
              </Rules>
            </Language>
          </Languages>
        </Theme>
      </Themes>
    </TonalityMarking>

    <OpinionMining>
      <ResultLimit>
        <MaxSentCountInText>20000</MaxSentCountInText>
        <MaxObjectCountInSent>50</MaxObjectCountInSent>
        <MaxSentLengthWithoutSpace>5000</MaxSentLengthWithoutSpace>
      </ResultLimit>

      <Themes>
        <Theme Type="Default">
          <Languages>
            <Language Type="RU">
              <Dictionaries BasePath="bin\OMTM-Dictionaries\OM">
                <Verbs>
                  <!--глаголы-->
                  <Dictionary DictionaryType="VerbsOpinion1" FileName="list_verbs_opinion1.txt" />
                  <Dictionary DictionaryType="VerbsOpinion2" FileName="list_verbs_opinion2.txt" />
                  <Dictionary DictionaryType="VerbsOpinion3" FileName="list_verbs_opinion3.txt" />
                  <Dictionary DictionaryType="VerbsOpinion4" FileName="list_verbs_opinion4.txt" />
                  <Dictionary DictionaryType="VerbsOpinion5" FileName="list_verbs_opinion5.txt" />
                  <Dictionary DictionaryType="VerbsOpinion6" FileName="list_verbs_opinion6.txt" />
                  <Dictionary DictionaryType="VerbsOpinion7" FileName="list_verbs_opinion7.txt" />
                </Verbs>
                <Phrasis>
                  <Dictionary DictionaryType="Phrasis1" FileName="list_phrasis_opinion1.txt" />
                  <Dictionary DictionaryType="Phrasis2" FileName="list_phrasis_opinion2.txt" />
                </Phrasis>
                <SingleWords>
                  <Dictionary DictionaryType="FirstWords1" FileName="first_word1.txt" />
                  <Dictionary DictionaryType="IntrWords2"  FileName="intr_word2.txt"  />
                </SingleWords>
                <MultiWords>
                  <Dictionary DictionaryType="IntrWords1"    FileName="intr_word1.txt"          />
                  <Dictionary DictionaryType="EntityOpinion" FileName="list_entity_opinion.txt" />
                </MultiWords>
              </Dictionaries>
            </Language>
          </Languages>
        </Theme>
      </Themes>
    </OpinionMining>
  </Digest>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="tm.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n%n" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="(logs)\all.txt" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.\tx\t" />
      <staticLogFileName value="false" />-->
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p - %m%n%n" />
      </layout>
    </appender>

    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="(logs)\errors.txt" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.\tx\t" />
      <staticLogFileName value="false" />-->
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p - %m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
      </filter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderError" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>  
  
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="99999999" executionTimeout="600" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>

</configuration>